In [ ]:
# Dictionaries 
# use curly brackets
# dictionaries behave as key value pairs just like hash table
# instead of holding values in a sequence they hold values 
   #through keys and their actual values

In [1]:
d = {'key1':'value','key2':123}

In [2]:
d[0]
# doesn't work bc there is no key
# must pass in key itself

KeyError: 0

In [3]:
d['key1']

'value'

In [4]:
d['key2']

123

In [6]:
d= {'k1':[1,2,3]}
d

{'k1': [1, 2, 3]}

In [7]:
d['k1']

[1, 2, 3]

In [8]:
# Now we can do normal indexing
# grab 2
d['k1'][1]

2

In [11]:
my_list = d['k1']
my_list

[1, 2, 3]

In [12]:
my_list[0]

1

In [13]:
#or
d['k1'][0]

1

In [18]:
# Dictionary nested inside another dictionary
d = {'k1':{'innerkey':[1,2,3]}}
d

{'k1': {'innerkey': [1, 2, 3]}}

In [19]:
# Grab number 2
d['k1']

{'innerkey': [1, 2, 3]}

In [21]:
d['k1']['innerkey']

[1, 2, 3]

In [22]:
d['k1']['innerkey'][1]

2

In [ ]:
# Tuples and Sets

In [26]:
# remember a list is a sequence of characters inside square brackets 
   # separated by commas
my_list = [1,2,3]
# Tuple is similar but is in parenthesis 
t = (1,2,3)

In [24]:
t = (1,2,3)
t

(1, 2, 3)

In [25]:
t[0]

1

In [27]:
my_list[0]

1

In [28]:
my_list[0] = 'NEW'

In [29]:
my_list

['NEW', 2, 3]

In [30]:
t[0] = 'NEW'
# doesn't work because tuples are immutable and dont support item 
  #assignments
# ie you can't mutate items in an assignment
# So we want to use a tuple when you want to make sure user doesn't 
   # change  items inside the sequence of objects

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Sets

In [ ]:
# Sets are collection of unique elements 
# Looks same as curly brackets just no colons

In [32]:
{1,2,3}

{1, 2, 3}

In [33]:
{1,1,1,2,2,2,3,3,3}
# still get same output - ie a set is defined by collection of unique
   # elements 
# will reduce down to unique elements

{1, 2, 3}

In [34]:
# SET function to grab unique elements for you
#    pass in a list to grab unique elements
set([1,1,1,1,1,1,2,2,2,2,2,5,5,5,5,6,6,6])

{1, 2, 5, 6}

In [35]:
# add items to a set
s= {1,2,3}

In [36]:
s.add(5)

In [37]:
s

{1, 2, 3, 5}

In [38]:
s.add(5)
s
# only one instance allowed

{1, 2, 3, 5}

In [ ]:
# Comparison Operators

In [ ]:
# Comparison Operators allow you to compare 2 elements to each other
#

In [39]:
1 > 2

False

In [40]:
1 < 2

True

In [41]:
1>=2

False

In [42]:
1<=2

True

In [43]:
# Check for equality with 2 equal signs 
1 == 1

True

In [44]:
1 == 2

False

In [45]:
1 = 1
# won't work bc python thinks you are trying to do variable assignment

SyntaxError: can't assign to literal (<ipython-input-45-ecdac3dcabfd>, line 1)

In [46]:
# not equal
1 != 3

True

In [47]:
'hi' == 'bye'

False

In [48]:
'hi' != 'bye'

True

In [49]:
# AND operator all conditions must be true
1 < 2 and 2 < 3

True

In [50]:
(1 < 2) and (2 > 3)

False

In [51]:
# OR operator only one condition must be true
(1 < 2) or (2 > 3)

True

In [52]:
(1 < 2) or (2 > 3) or (1==1)

True

In [53]:
True and True

True

In [54]:
True and False

False

In [55]:
True or False

True

In [ ]:
# if, elif, and else

In [ ]:
# use if you want to execute code if condition True

In [56]:
if 1<2:
    print('yep')

yep

In [57]:
if True:
    print('Perform Code')

Perform Code

In [58]:
if True:
    x = 2 + 2

In [59]:
x

4

In [60]:
# check for multiple conditions 
# say we want something to occur if it isn't true
if 1 == 2:
    print('First')
else: 
    print('last')

last

In [61]:
if 1 != 2:
    print('First')
else: 
    print('last')

First

In [62]:
# Use elif to check for multiple conditions
# else is basically an OTHERWISE statement
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else: 
    print('last')

Middle

In [63]:
if 1 == 1:
    print('First')
elif 3 == 3:
    print('Middle')
else: 
    print('last')

First

In [64]:
if 1 == 2:
    print('First')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('Middle')
else: 
    print('last')
# only executes first instance of condition being true

second

In [ ]:
# Part 3

In [ ]:
# FOR LOOPS
  # allow you to iterate through a sequence

In [65]:
seq = [1,2,3,4,5]

In [68]:
# word 'item' can be whatever you want it to be
for num in seq:
    print(num)

1
2
3
4
5

In [67]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [70]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [ ]:
# While Loop
  # continually perform an action until a condition has been met

In [71]:
i = 1

while i < 5:
    print('is is {}'.format(i))
    i = i+1
# don't run yet bc you will get an infinite while loop! (w/out i=i+1)

is is 1
is is 2
is is 3
is is 4

In [ ]:
# Range
 # allows

In [72]:
for x in seq:
    print(x)

1
2
3
4
5

In [73]:
# number you want to start and end at
range(0,5)

range(0, 5)

In [75]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [76]:
for num in range(0,5):
    print(num)

0
1
2
3
4

In [77]:
# if you want a list

list(range(0,5))

[0, 1, 2, 3, 4]

In [78]:
list(range(10))
# Starting number is 0 by default not including 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# List Comprehension 
#. kind of like afor loop but backwards

In [79]:
x = [1,2,3,4]

In [82]:
out = [] # empty list

In [83]:
for num in x:
    out.append(num**2)    # raise num^2

In [84]:
print(out)

[1, 4, 9, 16]

In [87]:
# List comprehension to replace for loop
[num**2 for num in x]

[1, 4, 9, 16]

In [88]:
out = [num**2 for num in x]
out
# so list comprehension is just a way to save from typing

[1, 4, 9, 16]

In [ ]:
# Functions 
 # save from writing code over and over
 # key work 'def'

In [89]:
# def namefunction(parameters)
#() ---pass in parameters 

def my_func(param1):
    print(param1)

In [91]:
# Now pass in a PARAMETER
my_func('hello')

hello

In [101]:
def my_func(name):
    print('Hello ' +name)   # '+' with string to concat 2 strings

In [102]:
my_func('Jose')

Hello Jose

In [106]:
# if you want default name
def my_func(name='Default Name'):
    print('Hello ' +name)

In [107]:
my_func()

Hello Default Name

In [108]:
my_func('Tom')

Hello Tom

In [109]:
# OR
my_func(name = 'Jose')

Hello Jose

In [110]:
# What is this object?
my_func
# so use parethesis to execute

In [111]:
# How to assign a value from a function and set it equal to 
    #another variable
def square(num):
    return num**2

In [113]:
output = square(2)
output
#That is the diffence between printing something and returning something
# when you return something want to set it equal some other variable 
# that way you can call the results in that variable
# when you PRINT something you just print a value but NOT actually 
   #return it or STORE it anywhere

4

In [ ]:
def square(num):
    print(num**2)

In [114]:
output = square(2)
output

4

In [115]:
# Functions can have Documentation Strings
# add by putting in a set of triple and closing quotes
# allows you to put in a giant string over multiple lines
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [116]:
output = square(2)
output
# nothing changes must call documentation string for more info

4

In [ ]:
# click shift-tab
square
# really useful for our own functions and built in functions

In [ ]:
# Part 4

In [ ]:
# Map And Filter Functions

In [117]:
def times2(var):
    return var*2

In [118]:
times2(5)

10

In [121]:
# Map functions
seq = [1,2,3,4,5]

#Lets say we want to apply 'times2' function to every single element in
  # this 'seq' list and then output the list
# could use a For Loop to do it and append to another list
# however MAP is a built in function that allows you to save that step

In [122]:
map(times2,seq)

In [123]:
# to execute map function and get back a list use LIST Function
list(map(times2,seq))
# returns times2 function mapped to every element of the sequence 
   # and returns it as a list

[2, 4, 6, 8, 10]

In [ ]:
# usually when writing a function like mapped you don't want to 
   # have to write a function
# This is where lambda comes into play

In [ ]:
# Lambda Functions

#. Rewrite times2 function into a lambda expression

In [124]:
# Same function as above just written on one line
def times2(var):return var*2

In [128]:
# get rid of def and the name
# get rid of return and type what you actually want to return
lambda var:var*2

In [129]:
# Lambda    what you want to pass in:    what you want to return out
t = lambda var:var*2

In [130]:
t(6)

12

In [131]:
# Lambda functions used lots of times with MAP
list(map(lambda num: num*3,seq))
# no longer have to formally define a function this is easier

[3, 6, 9, 12, 15]

In [ ]:
# Filter Function
  
    #Similiar to MAP but instead of mapping a function to every element
     # in sequence we filter out elements from a sequene 
# Pass in a function or lambda expression that filters out 
    # and returns boolien values

In [132]:
2%2

0

In [133]:
#filter(lambda    pass in a number: returns a conditional true or false ie bullion value based on a conditional operation,   pass it into an iterable object

filter(lambda num: num%2 == 0, seq)

In [134]:
# to get results back cast it to a LIST
list(filter(lambda num: num%2 == 0, seq))
# returns only even numbers
# so we just filtered out for even numbers

[2, 4]

In [195]:
seq

[1, 2, 3, 4, 5]

In [ ]:
# Methods
#  Methods are calls you can make off an object that will affect the 
    # object or return a result in some manner

In [135]:
s = 'hello my name is Sam'

In [140]:
s.lower()

'hello my name is sam'

In [141]:
s.upper()

'HELLO MY NAME IS SAM'

In [142]:
# Split will split a string on all the white space
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [151]:
tweet = 'Go Sports! #Sporttts'

In [152]:
tweet.split()

['Go', 'Sports!', '#Sporttts']

In [153]:
# Can pass in a string into split to split on particular elements 
  # or characters

In [154]:
tweet.split('#')
# split string by hashtag
# returns list that you can index

['Go Sports! ', 'Sporttts']

In [155]:
tweet.split('#')[1]
# useful to grab hashtags of tweets

'Sporttts'

In [156]:
tweet.split()[1]

'Sports!'

In [158]:
# something we can do with dictionaries
d = {'k1': 1, 'k2': 2}

In [159]:
d

{'k1': 1, 'k2': 2}

In [160]:
d.keys()

dict_keys(['k1', 'k2'])

In [161]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [162]:
d.values()

dict_values([1, 2])

In [168]:
# Useful methods for LISTS
lst = [1,2,3]

In [169]:
# Pop off last item in list
# Pops and returns last item in list
# change is permanent
lst.pop()

3

In [171]:
lst = [1,2,3,4,5]

In [172]:
item = lst.pop()

In [173]:
lst

[1, 2, 3, 4]

In [174]:
item

5

In [175]:
# can pass in index you want to pop
first = lst.pop(0)

In [176]:
lst

[2, 3, 4]

In [177]:
first

1

In [ ]:
# N Operator
#.  allows you to check if something is inside of a list

In [178]:
'x' in [1,2,3]

False

In [179]:
'x' in ['x', 'y', 'z']

True

In [ ]:
# Tuple Unpacking
  #

In [180]:
# Variable x which contains a list of Tuples
x = [(1,2),(3,4),(5,6)]

In [181]:
x[0]

(1, 2)

In [182]:
x[0][0]

1

In [ ]:
# We can also do Tuple Unpacking -works when we iterate thru a list of 
   # tuples

In [183]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [184]:
for (a,b) in x:
    print(a)

1
3
5

In [185]:
for (a,b) in x:
    print(b)
# don't need parethesis

2
4
6

In [186]:
for a,b in x:
    print(b)

2
4
6

In [187]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [194]:
s = [1,2,4, 'dog']
'dog' in s

True